.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__button {
        margin: 1rem;
        width: 22rem;
        height: 80px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: transparent;
        font-family: 'PT Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        &:hover {
            background-color: black;
            color: white;
        }
    }

    &__heading {
        font-family: 'Source Sans Pro';
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: rgba(34, 34, 34, 0.6);
    }
}

@media screen and (max-width: 388px) {
    .home__button {
        width: 20rem;
    }
}