.top {
    margin: 1rem;

    &__heading {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #222222;
        text-align: center;
    }
}