@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Sans+Pro:wght@700&display=swap');
// font-family: 'PT Mono', monospace;
// font-family: 'Source Sans Pro', sans-serif;

.App {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}